
<!DOCTYPE html>
<html>
<head>
  <title>Donations Table</title> 
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <style>
    	
    

    #btn {
		  width: 10%;
		  height: 45px;
		  border-radius: 5px;
		  color: #fff;
		  background: #C41E3A;
		  cursor: pointer;
		  margin: 7px 100px 10px 1040px;
		  border: 0;
		  font-size: 15px;
		}

    a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-size:16px;
	text-align: center;
  font-family: "Times New Roman", Times, serif;
	
}

a:hover {
	  background-color:#F6CECE;
    color: black;
	}




  </style>
</head>

<body>
  <%- include('./partials/header.ejs', {title: title}) %>

  
  <main class="main-block">
    <div class="container mt-3">
      <h1>Donations Table</h1>
    <br>
      <% if( donations != undefined && donations != null ){ %>
        <script>
          const deleteArt = (e) => {
            let delete_promise = fetch('/donations/delete/' + e.id, { method: 'DELETE'})
            delete_promise.then(response => response.json())
                               .then( data => {
                                  window.location = data.redirect;
                               })
                               .then(data => {  })
              .catch((reject) => {
                document.getElementById("message_delete").textContent = reject;
              });
          }

         
    function logout() {
      window.location.href = "/logoutadmin";
    }

        </script>
        <p id="message_delete"> </p>
        
        <table class="table">
          <thead>
            <tr>
              <th>Donation ID</th>
              <th>Case</th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Age</th>
              <th>Gender</th>
              <th>Blood Type</th>
              <th>Subject</th>
              <th>Action</th>
          <tbody>
              <% if(donations.length > 0){ %>
                <%  var count=1 %>
                <% donations.forEach((donation) => { %>
                  <tr>
                    <td><%= count %></td>
                    <td><%= donation.donationcase %></td>
                    <td><%= donation.name %></td>
                    <td><%= donation.email %></td>
                    <td><%= donation.phone %></td>
                    <td><%= donation.age %></td>
                    <td><%= donation.gender %></td>
                    <td><%= donation.bloodtype %></td>
                    <td><%= donation.subject %></td>
                    <%  count++ %>
                    <td><button id="<%= donation.id %>" onclick="deleteArt(this)"  data-artid="<%= donation.id %>" class="btn btn-danger">Delete</button></td>
                    <% }) %>
            
        </table>
      <% }else { %> 
       <h4>No Donations found !!</h4> 
        <%}} %>
    </div>



   <button id="btn" onclick="logout()">Logout</button><br>

   

    
  </main>

  
</body>
</html>